body{
  background-color: #d3fff0;
}

h1{
  text-align:center;
  color: darkblue;
}

#doublebouton{
    text-align: center;
}

.bouton1{
display: inline-block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: pink;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.bouton2{
display: inline-block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: pink;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
